* {

    color: var(--Dark-grey, #4E4949);
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke-width: thin;
}
.img100-login {
    position: relative;
    width: 100%;
    height: 352px;
    margin-bottom: 450px;
}

.auth-inner-login {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    width: 580px;
    border-radius: 40px;
    border: 8px solid var(--Dark-Green, #CFECE0);
    background: var(--White, #FFF);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

form {
    width: 100%;
}

hr {
    margin-bottom: 40px;
}

.login-p1 {
    display: flex;
    justify-content: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.48px;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border: 1px solid #7CAE9E;
    border-radius: 12px;
}
.login-p2 input::placeholder,
.login-p2 input[type="text"]::placeholder,
.login-p2 input[type="email"]::placeholder,
.login-p2 input[type="password"]::placeholder 
{color: #7CAE9E;}

.login-p2 label {
    display: flex;
    justify-content: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.4px;
}
.hint{
    font-size: 12px;
}
.custom-btn-login {
    background-color: #7CAE9E; 
    border-color: #7CAE9E; 
    color: white;
    border-radius: 12px;
}

.custom-btn-login:hover,
.custom-btn-login:active {
    background-color: #EBFFF5; 
    border-color: #7CAE9E;
    color: #4E4949; 
}
.text-right{
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    .auth-inner-login {
        width: 70%;
        top: 75%;     }
    .img100-login {
        margin-bottom: 300px;
    }

}

@media only screen and (max-width: 426px) {
    .auth-inner-login {
        width: 75%;
    }
}